<div fxLayout="row" fxLayoutAlign="space-between" class="pt-4">
    <div fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row">
            <span class="text-3xl">Social</span>
            <span class="text-3xl text-white-400">Network</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxFlex="70%">
        <div fxFlex="wrap">
            <input fxFlex type="search" name="q" class="h-40 py-2 px-2 text-red-900 bg-white rounded-md focus:outline-none focus:bg-white focus:text-red-900" placeholder="Find" autocomplete="off">
        </div>
        <div class="h-40">
            <button fxLayout="row" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-red-900">
                Upload
            </button>
        </div>

        <div class="h-40">
            <button fxLayout="row" class="h-40 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-red-900">
                <i class="fa fa-user"></i>
            </button>
        </div>
        <div class="h-40" fxlayout="column">
            <div>Waseem</div>
            <div class="text-xs">Arshad</div>
        </div>

    </div>
</div>
