<div fxLayout="column" fxLayoutAlign="10px">
    <div>@ Copyright 2013 company name inc</div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>Privacy</div>
        <div>/</div>
        <div>Terms</div>
    </div>
</div>
