<div fxLayout="row" fxLayoutGap="10px">
    <a class="py-2 px-4 bg-white text-red-900" routerLink="/">
        <i class="fa fa-twitter"></i>
    </a>
    <a class="py-2 px-4 bg-white text-red-900" routerLink="/">
        <i class="fa fa-linkedin"></i>
    </a>
    <a class="py-2 px-4 bg-white text-red-900" routerLink="/">
        <i class="fa fa-facebook-f"></i>
    </a>
</div>
