<div fxLayout="row" fxLayoutGap="10px" class="py-2 border-white border-solid border-2 border-x-none">
    <ng-container *ngFor="let navbar of navbars; last as isLast">
        <a routerLink="{{ navbar.url }}">{{ navbar.label }}</a>
        <div *ngIf="! isLast">/</div>
    </ng-container>
</div>
