<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="center" class="text-2xl">
            Activity
        </div>
        <div fxLayout="column" fxLayoutAlign="center" class="text-xs">
            View timeline / Filter Activities
        </div>
    </div>
    <div fxLayout="row" class="border-solid border-2 border-white"></div>
    <div fxLayout="column" fxLayoutGap="20px" class="py-2">
        <div fxLayout="row" fxLayoutGap="20px" *ngFor="let activity of activities">
            <div fxFlex="25" class="bg-white"></div>
            <div fxLayout="column" fxLayoutAlign="space-around">
                <div>{{ activity.author?.name }} <span class="text-xs">{{ activity.title }}</span></div>
                <div class="text-xs">{{ activity.body }}</div>
                <div class="text-xs">{{ activity.createdAt }}</div>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="border-solid border-2 border-white"></div>
</div>
