<div fxLayout="row" fxLayoutGap="10px">
    <ng-container *ngFor="let menu of menus; last as isLast">
        <a routerLink="{{ menu.url }}">{{ menu.label }}</a>
        <div *ngIf="! isLast">/</div>
    </ng-container>
</div>
