<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="center" class="text-2xl">
            Channels
        </div>
        <div fxLayout="column" fxLayoutAlign="center">
            Browse all channels
        </div>
    </div>
    <div fxLayout="row" class="border-solid border-2 border-white"></div>
    <div fxLayout="column" fxLayoutGap="20px" class="py-2">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Google</div>
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Dribbible</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Microsoft</div>
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Belhance</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Weather Channel</div>
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Gurus</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">iMedia</div>
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Creativeye</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Khan Studios</div>
            <div fxFlex fxLayout="column" fxLayoutAlign="end" class="bg-white h-120 p-4 text-red-900">Yahoo</div>
        </div>
    </div>
    <div fxLayout="row" class="border-solid border-2 border-white"></div>
</div>
