<div fxFlex fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80%" fxLayout="column" fxLayoutGap="35px">
        <app-header></app-header>
        <app-navbar></app-navbar>
        <div fxFlex fxLayoutGap="20px" class="pb-10">
            <div fxFlex="70%" fxLayoutGap="20px">
                <app-videos></app-videos>
                <app-people></app-people>
                <app-documents></app-documents>
            </div>
            <div fxFlex="30%" fxLayout="column" fxLayoutGap="20px">
                <app-activity></app-activity>
                <app-channels></app-channels>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="20px" class="mb-10">
            <div fxLayout="row" class="border-white border-solid border-2"></div>
            <app-social-media></app-social-media>
            <app-menu></app-menu>
            <app-footer></app-footer>
        </div>
    </div>
</div>
