<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row">
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center" class="text-2xl">
            People
        </div>
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center">
            <a routerLink="/" class="text-xs">View all</a>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="66" class="bg-white text-red-900 p-4" fxLayout="column" fxLayoutAlign="end" *ngIf="peoples && peoples[1]">
            <div fxLayout="column" fxLayoutGap="2px">
                <div class="text-2xl">{{ peoples[1].name }}</div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="text-xs">{{ peoples[1].jobTitle }}</div>
                </div>
            </div>
        </div>
        <div fxFlex="34" fxLayoutGap="10px" fxLayout="column">
            <div class="bg-white text-red-900 p-4 h-180" fxLayout="column" fxLayoutAlign="end" *ngIf="peoples && peoples[1]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="text-xs">{{ peoples[1].name }}</div>
                </div>
            </div>
            <div class="bg-white text-red-900 p-4 h-180" fxLayout="column" fxLayoutAlign="end" *ngIf="peoples && peoples[2]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="text-xs">{{ peoples[2].name }}</div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="66" fxLayoutGap="10px">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="end" class="bg-white text-red-900 p-4 h-180" *ngIf="peoples && peoples[3]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="text-xs">{{ peoples[3].name }}</div>
                </div>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="end" class="bg-white text-red-900 p-4 h-180" *ngIf="peoples && peoples[4]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="text-xs">{{ peoples[4].name }}</div>
                </div>
            </div>
        </div>
        <div fxFlex="34" fxLayout="column" fxLayoutAlign="center" class="h-180 border-white border-2 border-solid">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="center">
                    <div class="w-40 h-40 border-radius-40 border-solid border-white border-2" fxLayout="row" fxLayoutAlign="center">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                    <span>Show</span>
                    <span>Your Work</span>
                </div>
            </div>
        </div>
    </div>
</div>
