@import './tailwind-build.scss';

* {
  font-family: lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-white-400 {
  color: rgba(255, 255, 255, 0.4);
}

.border-x-none {
  border-left: none;
  border-right: none;
}

.h-180 {
  height: 180px;
}

.h-120 {
  height: 120px;
}

.h-40 {
  height: 40px;
}

.w-40 {
  width: 40px;
}

.border-radius-40 {
  border-radius: 40px;
}
