<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row">
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center" class="text-2xl">
            Documents
        </div>
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center">
            <a routerLink="/" class="text-xs">Browse all documents</a>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="66" class="bg-white text-red-900 p-4" fxLayout="column" fxLayoutAlign="end">
            <div fxLayout="column" fxLayoutGap="2px" *ngIf="documents && documents[0]">
                <div class="text-2xl">{{ documents[0].title }}</div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span class="text-xs">By {{ documents[0].author?.name }}</span>
                    <span class="text-xs">{{ documents[0].view }} views</span>
                </div>
            </div>
        </div>
        <div fxFlex="34" fxLayoutGap="10px" fxLayout="column">
            <div class="bg-white text-red-900 p-4 h-180" fxLayout="column" fxLayoutAlign="end" *ngIf="documents && documents[1]">
                <div fxLayout="column" fxLayoutGap="2px">
                    <span class="text-xs">{{ documents[1].title }}</span>
                    <span class="text-xs">{{ documents[1].view }} views</span>
                </div>
            </div>
            <div class="bg-white text-red-900 p-4 h-180" fxLayout="column" fxLayoutAlign="end" *ngIf="documents && documents[2]">
                <div fxLayout="column" fxLayoutGap="2px">
                    <span class="text-xs">{{ documents[2].title }}</span>
                    <span class="text-xs">{{ documents[2].view }} views</span>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="66" fxLayoutGap="10px">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="end" class="bg-white text-red-900 p-4 h-180" *ngIf="documents && documents[3]">
                <div fxLayout="column" fxLayoutGap="2px">
                    <span class="text-xs">{{ documents[3].title }}</span>
                    <span class="text-xs">{{ documents[3].view }} views</span>
                </div>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="end" class="bg-white text-red-900 p-4 h-180" *ngIf="documents && documents[4]">
                <div fxLayout="column" fxLayoutGap="2px">
                    <span class="text-xs">{{ documents[4].title }}</span>
                    <span class="text-xs">{{ documents[4].view }} views</span>
                </div>
            </div>
        </div>
        <div fxFlex="34" fxLayout="column" fxLayoutAlign="center" class="h-180 border-white border-2 border-solid">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="center">
                    <div class="w-40 h-40 border-radius-40 border-solid border-white border-2" fxLayout="row" fxLayoutAlign="center">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                    <span>Share</span>
                    <span>Your Documents</span>
                </div>
            </div>
        </div>
    </div>
</div>
