<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row">
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center" class="text-2xl">
            Videos
        </div>
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center">
            <a routerLink="/" class="text-xs">Browse all videos</a>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="66" class="bg-white text-red-900 p-4" fxLayout="column" fxLayoutAlign="end">
            <div fxLayout="column" fxLayoutGap="2px" *ngIf="videos && videos[0]">
                <div class="text-2xl">{{ videos[0].title }}</div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span class="text-xs">{{ videos[0].author?.name }}</span>
                    <span class="text-xs">{{ videos[0].view }} views</span>
                </div>
            </div>
        </div>
        <div fxFlex="34" fxLayoutGap="10px" fxLayout="column">
            <div class="bg-white text-red-900 p-4 h-180" fxLayout="column" fxLayoutAlign="end" *ngIf="videos && videos[1]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span class="text-xs">{{ videos[1].author?.name }}</span>
                    <span class="text-xs">{{ videos[1].view }} views</span>
                </div>
            </div>
            <div class="bg-white text-red-900 p-4 h-180" fxLayout="column" fxLayoutAlign="end" *ngIf="videos && videos[2]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span class="text-xs">{{ videos[2].author?.name }}</span>
                    <span class="text-xs">{{ videos[2].view }} views</span>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="66" fxLayoutGap="10px">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="end" class="bg-white text-red-900 p-4 h-180" *ngIf="videos && videos[3]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span class="text-xs">{{ videos[3].author?.name }}</span>
                    <span class="text-xs">{{ videos[3].view }} views</span>
                </div>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="end" class="bg-white text-red-900 p-4 h-180" *ngIf="videos && videos[4]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span class="text-xs">{{ videos[4].author?.name }}</span>
                    <span class="text-xs">{{ videos[4].view }} views</span>
                </div>
            </div>
        </div>
        <div fxFlex="34" fxLayout="column" fxLayoutAlign="center" class="h-180 border-white border-2 border-solid">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="center">
                    <div class="w-40 h-40 border-radius-40 border-solid border-white border-2" fxLayout="row" fxLayoutAlign="center">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                    <span>Upload</span>
                    <span>Your Own Video</span>
                </div>
            </div>
        </div>
    </div>
</div>
